[submodule "lib/lodepng"]
	path = lib/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/implot"]
	path = lib/implot
	url = https://github.com/epezent/implot.git
[submodule "lib/imgui-filebrowser"]
	path = lib/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
