[submodule "lib/lodepng"]
	path = lib/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "lib/implot"]
	path = lib/implot
	url = https://github.com/epezent/implot.git
	branch = master
[submodule "lib/TinyTIFF"]
	path = lib/TinyTIFF
	url = https://github.com/jkriege2/TinyTIFF.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
