*.hex
*.swp
*.o
*.a
*.s
*.obj
*~
*.~cpp
*.~ddp
*.~h
*.~dfm
.*
*.aux
*.fdb_latexmk
*.fls
*.glo
*.ist
*.log
*.out
*.pdf
*.toc
src/imgui.ini
lodepng/benchmark
lodepng/pngdetail
lodepng/showpng
lodepng/unittest
bin
samples
po/*.po
thpp
tags
